{% extends "base_layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="col-md-4 col-md-offset-4">

  {% if login_session['email'] == image.user.email %}
  <h1>Edit Image</h1>

  <form action="{{ url_for('editImage', image_id=image.id) }}" method="POST">
  <fieldset class="form-group">
    <label for="image_name">Image Name</label>
    <input type="text" class="form-control" name="image_name" placeholder="Image Name" value="{{image.name}}">
  </fieldset>
  <fieldset class="form-group">
    <label for="image_url">Image URL</label>
    <input type="text" class="form-control" name="image_url" placeholder="Image URL" value="{{image.link}}">
  </fieldset>
  <fieldset class="form-group">
    <label for="image_description">Description</label>
    <textarea class="form-control" name="image_description" rows="3">{{image.description}}</textarea>
  </fieldset>
  <fieldset class="form-group">
    <label for="tags">Tags</label>
    <input type="text" class="form-control" name="tags" placeholder="Tags" value="{{tags}}">
    <small class="text-muted">Separate each tag with a comma.</small>
  </fieldset>
  <span class="pull-right">
  <a href="{{ url_for('image', image_id=image.id)}}">cancel</a>
  <button type="submit" value="Create" class="btn btn-primary">Update</button>
  </span>
</form>
</div>

{% else %}

  <div class="alert alert-danger" role="alert">Can't delete image "{{image.name}}".  Not logged in or not the owner of this image.</div>

{% endif %}

{% endblock %}
