<!-- Extends base layout -->
{% extends "base_layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Organize images by tag -->
<h1>{{tag.tag}}</h1>

<!-- Build up masonry -->
<div class="container">
  <div class="masonry">

  <!-- loop through all images in a tag -->
  {% for image in images %}
  <div class="item">
    <a href="{{ url_for('image', image_id=image.id)}}">
      <img src="{{image.link}}" class="img-responsive" />
    </a><br />
    <h4>{{image.name}}</h4>
    <p>{{image.description}}</p>
  </div>
  {% endfor %}
  </div>
</div>



{% endblock %}
