{% extends "base_layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Build up masonry -->
<div class="container">
  <div class="masonry">
  <!-- Loop through tags -->
  {% for tag in tags %}
    {% if tag.images[0] %}
      <div class="item">
        <a href="{{ url_for('tag', tag_id=tag.id)}}">
          <img src="{{tag.images[0].link}}" class="img-responsive" />
        </a>
        <p><strong>{{tag.tag}} ({{tag.images|length}})</strong></p>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock %}
